<a href="https://colab.research.google.com/github/ruthika11/ipython-notebook-examples/blob/master/Airport_and_airlines.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 # **PART I**

# > Questions

**1**.Top 20 highest altitude airports in the world. Choose only “type” with “airport”   
Output:
airport_id, name, city, country, altitude, rank

**2**.Top 20 countries that have the highest total # of airports.  
Output:
country, total_airports, rank

**3**.Top 20 cities that have the highest total # of airports. (Two cities from different countries can have the same name, and you have to make sure the numbers are not messed up due to that!)  
Output:
city, total_airports, rank  

**4**.Pair of cities that have the same name, but from two different countries.  
Output:
city_a, country_a, city_b, country_b



---

# **PART II**



# > Questions


**1**.In the year 2009, print Top 10 cities in the USA that received maximum # inbound flights.  
Output:
city,total_inbound_flights,rank

**2**.In the year 2009, print Top 10 cities in the USA that received maximum # outbound flights.
Output:
city,total_outbound_flights,rank

**3**.In between 1999-2009, print Top 10 cities in the USA that received maximum # outbound flights.   
Output:
city,total_outbound_flights, rank

**4**.In between 1999-2009, the Top 10 cities in the USA carry the maximum total # of passengers on outbound flights. The city column in the output will also have its state (For example San Fransico, CA).    
Output:
city,total_num_passengers,rank

**5**.In the years 2007 and 2009 together, the Top 10 states in the USA carry the maximum total # of passengers on the outbound flights.    
Output:
state,total_num_passengers,rank

**6**.Merge the columns 1 and 2    
Output:
city,total_inbound_flights,inbound_rank,total_outbound_flights,outbound_rank

**7**.Plot group bar chart with seaborn/matplotlib for the output in question 6 above specifically city,total_inbound_flights,total_outbound_flights. One bar for total_inbound_flights and another for total_outbound_flights. Plot for only top 10 cities by total_inbound_flights.

	X-axis - city
	Y-axis - total_outbound_flights, total_inbound_flights