<a href="https://colab.research.google.com/github/ruthika11/ipython-notebook-examples/blob/master/Covid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
OBSERVATION QUESTIONS
1.How many distinct counties + state there (hint: unique)
2.Is there any data missing for any month/day of any year? (hint: use unique applied on date + month part of each year)

QUESTIONS
1.Top 10 states having highest total death in the year 2020
2.Top 10 states having highest total death in the year 2021
3.Top 10 states having highest average death in the year 2020
4.Top 10 states having highest average death in the year 2021
5.Top 10 county having highest total death in 2020 and 2021 year together
Output: county, sum_deaths
6.Find/print all pair of counties that have the same name but belong to two different states (hint: use pandas self join)
7.Print list of Top N states by the least number of death in a specific year. Also needed to be ranked.
   a).Top 10 least death states in 2020
   b).Top 10 least death states in 2021
8.Print Top N states in the last three months of the year 2021. Also needed to be ranked. Also right this output as a file in folder /content/drive/MyDrive/data_preprocessing with header and no index.
   a).Top 10 least death states in last three months of the year 2021
   b).Top 10 most death states in last three months of the year 2021
'''
print("COVID-19\n")

In [ ]:
import pandas as pd
import numpy as np
import csv
from tabulate import tabulate
from google.colab import drive
drive.mount("/content/drive/")
from time import strptime
import datetime
from dateutil import parser

In [ ]:
!ls -ltr /content/drive/MyDrive

In [ ]:
!pip install DateTime

In [ ]:
us_counties = pd.read_csv(r"/content/drive/MyDrive/us-counties.csv")
us_counties_recent = pd.read_csv(r"/content/drive/MyDrive/us-counties-recent.csv")
df = pd.merge(us_counties,us_counties_recent,how = 'outer')
df["date"] = df['date'].astype(str)
print(df)
print(df.dtypes)

In [6]:
state = df['state'].unique()
county = df['county'].unique()

In [14]:
def get_year(row):
 return parser.parse(row['date']).year
df['year'] = df.apply(get_year,axis = 1)

print(df)

               date      county       state     fips  cases  deaths  year
0        2020-01-21   Snohomish  Washington  53061.0      1     0.0  2020
1        2020-01-22   Snohomish  Washington  53061.0      1     0.0  2020
2        2020-01-23   Snohomish  Washington  53061.0      1     0.0  2020
3        2020-01-24        Cook    Illinois  17031.0      1     0.0  2020
4        2020-01-24   Snohomish  Washington  53061.0      1     0.0  2020
...             ...         ...         ...      ...    ...     ...   ...
2099369  2022-01-09  Sweetwater     Wyoming  56037.0   8506   110.0  2022
2099370  2022-01-09       Teton     Wyoming  56039.0   7025    14.0  2022
2099371  2022-01-09       Uinta     Wyoming  56041.0   4264    34.0  2022
2099372  2022-01-09    Washakie     Wyoming  56043.0   1914    39.0  2022
2099373  2022-01-09      Weston     Wyoming  56045.0   1263    16.0  2022

[2099374 rows x 7 columns]

In [15]:
df2020 = df.where(df["year"] == 2020)
print(df2020)

               date     county       state     fips  cases  deaths    year
0        2020-01-21  Snohomish  Washington  53061.0    1.0     0.0  2020.0
1        2020-01-22  Snohomish  Washington  53061.0    1.0     0.0  2020.0
2        2020-01-23  Snohomish  Washington  53061.0    1.0     0.0  2020.0
3        2020-01-24       Cook    Illinois  17031.0    1.0     0.0  2020.0
4        2020-01-24  Snohomish  Washington  53061.0    1.0     0.0  2020.0
...             ...        ...         ...      ...    ...     ...     ...
2099369         NaN        NaN         NaN      NaN    NaN     NaN     NaN
2099370         NaN        NaN         NaN      NaN    NaN     NaN     NaN
2099371         NaN        NaN         NaN      NaN    NaN     NaN     NaN
2099372         NaN        NaN         NaN      NaN    NaN     NaN     NaN
2099373         NaN        NaN         NaN      NaN    NaN     NaN     NaN

[2099374 rows x 7 columns]

In [16]:
df_2020 = df2020.groupby(['state'])['deaths'].sum().to_frame("Death Count").reset_index()
print(df_2020)

                       state  Death Count
0                    Alabama     526388.0
1                     Alaska      13147.0
2                    Arizona    1048821.0
3                   Arkansas     285868.0
4                 California    3065113.0
5                   Colorado     542870.0
6                Connecticut    1119863.0
7                   Delaware     145664.0
8       District of Columbia     146395.0
9                    Florida    2632238.0
10                   Georgia    1363977.0
11                      Guam      10424.0
12                    Hawaii      27227.0
13                     Idaho     109143.0
14                  Illinois    2211390.0
15                   Indiana     920773.0
16                      Iowa     335716.0
17                    Kansas     187629.0
18                  Kentucky     285739.0
19                 Louisiana    1184574.0
20                     Maine      35654.0
21                  Maryland     912049.0
22             Massachusetts    2222455.0
23                  Michigan    1837617.0
24                 Minnesota     531337.0
25               Mississippi     572569.0
26                  Missouri     530055.0
27                   Montana      58866.0
28                  Nebraska     132992.0
29                    Nevada     319370.0
30             New Hampshire     102996.0
31                New Jersey    3817150.0
32                New Mexico     217023.0
33                  New York    8320598.0
34            North Carolina     734456.0
35              North Dakota      87065.0
36  Northern Mariana Islands        544.0
37                      Ohio    1062373.0
38                  Oklahoma     233760.0
39                    Oregon     128396.0
40              Pennsylvania    2002629.0
41               Puerto Rico     134516.0
42              Rhode Island     262024.0
43            South Carolina     618708.0
44              South Dakota      86828.0
45                 Tennessee     540030.0
46                     Texas    2927740.0
47                      Utah     111490.0
48                   Vermont      16434.0
49            Virgin Islands       3503.0
50                  Virginia     668990.0
51                Washington     504771.0
52             West Virginia      84127.0
53                 Wisconsin     410977.0
54                   Wyoming      20734.0