<a href="https://colab.research.google.com/github/ruthika11/ipython-notebook-examples/blob/master/Covid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **OBSERVATION QUESTIONS**




**1.**How many distinct counties + state there (hint: unique)

**2.**Is there any data missing for any month/day of any year? (hint: use unique applied on date + month part of each year)



# **QUESTIONS**

**1**.Top 10 states having highest total death in the year 2020

**2.**Top 10 states having highest total death in the year 2021

**3.**Top 10 states having highest average death in the year 2020

**4.**Top 10 states having highest average death in the year 2021


**5.**Top 10 county having highest total death in 2020 and 2021 year together
Output: county, sum_deaths

**6.**Find/print all pair of counties that have the same name but belong to two different states (hint: use pandas self join)

**7.**Print list of Top N states by the least number of death in a specific year. Also needed to be ranked.

  **a).**Top 10 least death states in 2020

   **b).**Top 10 least death states in 2021

**8.**Print Top N states in the last three months of the year 2021. Also needed to be ranked. Also right this output as a file in folder /content/drive/MyDrive/data_preprocessing with header and no index.

   **a).**Top 10 least death states in last three months of the year 2021

   **b)**Top 10 most death states in last three months of the year 2021

In [ ]:
print("COVID-19\n")

In [ ]:
import pandas as pd
import numpy as np
import csv
from tabulate import tabulate
from google.colab import drive
drive.mount("/content/drive/")
from time import strptime
import datetime
from dateutil import parser

In [ ]:
!ls -ltr /content/drive/MyDrive

In [ ]:
!pip install DateTime

In [ ]:
us_counties = pd.read_csv(r"/content/drive/MyDrive/us-counties.csv")
us_counties_recent = pd.read_csv(r"/content/drive/MyDrive/us-counties-recent.csv")
df = pd.merge(us_counties,us_counties_recent,how = 'outer')

In [ ]:
def get_year(row):
 return parser.parse(row['date']).year
df['year'] = df.apply(get_year,axis = 1)
print(df)

In [67]:
df2020 = df.where(df["year"] == 2020)
df2021 = df.where(df["year"] == 2021)
df2020_2021 = df.where(df['year'].isin([2020,2021]))

# **OBSERVATION QUESTIONS**
# 1.How many distinct counties + state there (hint: unique)

In [57]:
state = df['state'].unique()
county = df['county'].unique()
print(f"In the United States, there are {len(state)} states and {len(county)} counties.")

In the United States, there are 56 states and 1930 counties.

# 2.Is there any data missing for any month/day of any year? (hint: use unique applied on date + month part of each year)

# **QUESTIONS**
# 1.Top 10 states having highest total death in the year 2020

In [58]:
df_2020 = df2020.groupby(['state'])['deaths'].sum().to_frame("Death Count").reset_index()
df_2020_high = df_2020.sort_values(by = ["Death Count"], ascending = False)
print(df_2020_high.head(10))

            state  Death Count
33       New York    8320598.0
31     New Jersey    3817150.0
4      California    3065113.0
46          Texas    2927740.0
9         Florida    2632238.0
22  Massachusetts    2222455.0
14       Illinois    2211390.0
40   Pennsylvania    2002629.0
23       Michigan    1837617.0
10        Georgia    1363977.0

# 2.Top 10 states having highest total death in the year 2021

In [59]:
df_2021 = df2021.groupby(['state'])["deaths"].sum().to_frame("Death Count").reset_index()
df_2021_high = df_2021.sort_values(by = ["Death Count"], ascending = False)
print(df_2021_high.head(10))

           state  Death Count
5     California   22532428.0
47         Texas   20088968.0
34      New York   18918470.0
10       Florida   15333245.0
41  Pennsylvania   10025434.0
32    New Jersey    9406432.0
15      Illinois    9306526.0
11       Georgia    7791745.0
24      Michigan    7460163.0
38          Ohio    7327426.0

# 3.Top 10 states having highest average death in the year 2020

In [60]:
df_2020 = df2020.groupby(['state'])['deaths'].mean().to_frame('Average Death').reset_index()
df_2020_high_aver = df_2020.sort_values(by =["Average Death"], ascending = False)
print(df_2020_high_aver.head(10))

                   state  Average Death
31            New Jersey     590.798638
22         Massachusetts     500.102385
33              New York     495.037958
8   District of Columbia     487.983333
41           Puerto Rico     457.537415
6            Connecticut     429.230740
2                Arizona     238.422596
4             California     182.436343
42          Rhode Island     152.694639
9                Florida     135.000410

# 4.Top 10 states having highest average death in the year 2021

In [61]:
df_2021 = df2021.groupby(['state'])['deaths'].mean().to_frame('Average Death').reset_index()
df_2021_high_aver = df_2021.sort_values(by = ['Average Death'], ascending = False)
print(df_2021_high_aver.head(10))

                   state  Average Death
42           Puerto Rico    2574.764384
3                Arizona    1196.586783
23         Massachusetts    1174.260274
32            New Jersey    1171.411208
9   District of Columbia    1105.120548
5             California    1064.004722
7            Connecticut     906.108676
34              New York     893.645253
10               Florida     617.777800
43          Rhode Island     444.803653

# 5.Top 10 county having highest total death in 2020 and 2021 year together
Output: county, sum_deaths

In [68]:
df_2020_2021 = df2020_2021.groupby(['county'])['deaths'].sum().to_frame("Sum_Deaths").reset_index()
df_2020_2021_high = df_2020_2021.sort_values(by = ['Sum_Deaths'], ascending = False)
print(df_2020_2021_high.head(10))

             county  Sum_Deaths
1226  New York City  17791710.0
1032    Los Angeles   9955588.0
414            Cook   5257183.0
1074       Maricopa   4378737.0
1141      Middlesex   3217896.0
1285         Orange   3144039.0
1837          Wayne   3069484.0
1140     Miami-Dade   3058913.0
761          Harris   2960139.0
1174     Montgomery   2946807.0

# 6.Find/print all pair of counties that have the same name but belong to two different states (hint: use pandas self join)

# 7.Print list of Top N states by the least number of death in a specific year. Also needed to be ranked.

**a)**.Top 10 least death states in 2020

 **b)**.Top 10 least death states in 2021

In [88]:
df_2020 = df2020.groupby(['state'])['deaths'].sum().to_frame('Death Count').reset_index()
df_2020_least = df_2020.sort_values(by = ['Death Count'], ascending =True)
df_2020_least['Rank'] = df_2020_least['Death Count'].rank(ascending = False)

df_2021 = df2021.groupby(['state'])['deaths'].sum().to_frame('Death Count').reset_index()
df_2021_least = df_2021.sort_values(by = ['Death Count'], ascending =True)
df_2021_least['Rank'] = df_2021_least['Death Count'].rank(ascending = False)

print("Top 10 least death states in 2020\n")
print(df_2020_least.head(10))
print("\n\n\n\n\nTop 10 least death states in 2021\n")
print(df_2021_least.head(10))

Top 10 least death states in 2020

                       state  Death Count  Rank
36  Northern Mariana Islands        544.0  55.0
49            Virgin Islands       3503.0  54.0
11                      Guam      10424.0  53.0
1                     Alaska      13147.0  52.0
48                   Vermont      16434.0  51.0
54                   Wyoming      20734.0  50.0
12                    Hawaii      27227.0  49.0
20                     Maine      35654.0  48.0
27                   Montana      58866.0  47.0
52             West Virginia      84127.0  46.0





Top 10 least death states in 2021

                       state  Death Count  Rank
2             American Samoa          0.0  56.0
37  Northern Mariana Islands        926.0  55.0
50            Virgin Islands      16615.0  54.0
12                      Guam      61389.0  53.0
49                   Vermont     100847.0  52.0
1                     Alaska     163285.0  51.0
13                    Hawaii     222578.0  50.0
55                   Wyoming     316182.0  49.0
21                     Maine     328660.0  48.0
9       District of Columbia     403369.0  47.0