<a href="https://colab.research.google.com/github/ruthika11/ipython-notebook-examples/blob/master/Forest_Fire.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Questions**
**1**.Top 10 maximum burnt area happened on which month.    
Output:
month,area

**2**.Highest temperature and lowest temperature for each month.  
month,highest_temp, lowest_temp

**3**.Monthly when highest wind and lowest wind happened.   
Output:
month,highest_wind, lowest_wind

**4**.Highest and lowest relative humidity for each month.  
Output:
month,highest_rh, lowest_rh

**5**.Join the output from questions 1-4 above.  
Output:
month,area,highest_temp, lowest_temp,highest_wind, lowest_wind,highest_rh, lowest_rh

**6**.Plot a group bar chart for the output in question 5.  
       
X-axis -> Month    
Bar 1 -> highest_temp   
Bar 2 -> highest_wind  
Bar 3 -> highest_rh

In [ ]:
import csv
import pandas as pd
from google.colab import drive
drive.mount("/content/drive/")
from tabulate import tabulate
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
!ls - ltr /content/drive/MyDrive/

In [3]:
def pretty_print(df,n):
    print(tabulate(df.head(n), headers="keys", tablefmt="psql"))

In [4]:
df = pd.read_csv(r"/content/drive/MyDrive/forestfires.csv")
print(df)

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

# 1.Top 10 maximum burnt area happened on which month.
Output: month,area

In [8]:
df_max_burnt = df.groupby(['month'])['area'].max().reset_index()
df_10max_burnt = df_max_burnt.sort_values(by = ["area"], ascending = False)
pretty_print(df_10max_burnt,10)

+----+---------+---------+
|    | month   |    area |
|----+---------+---------|
| 11 | sep     | 1090.84 |
|  1 | aug     |  746.28 |
|  5 | jul     |  278.53 |
|  6 | jun     |   70.32 |
|  0 | apr     |   61.13 |
|  3 | feb     |   51.78 |
| 10 | oct     |   49.37 |
|  8 | may     |   38.48 |
|  7 | mar     |   36.85 |
|  2 | dec     |   24.77 |
+----+---------+---------+

# 2.Highest temperature and lowest temperature for each month.
month,highest_temp, lowest_temp

In [21]:
high_low_temp = df.groupby(["month"]).agg({"temp":["max","min"]}).reset_index()
high_low_temp.columns = ["month","highest_temp"," lowest_temp"]
pretty_print(high_low_temp,30)

+----+---------+----------------+----------------+
|    | month   |   highest_temp |    lowest_temp |
|----+---------+----------------+----------------|
|  0 | apr     |           17.6 |            5.8 |
|  1 | aug     |           33.3 |            5.1 |
|  2 | dec     |            5.1 |            2.2 |
|  3 | feb     |           15.7 |            4.2 |
|  4 | jan     |            5.3 |            5.2 |
|  5 | jul     |           30.2 |           12.6 |
|  6 | jun     |           28   |           10.6 |
|  7 | mar     |           18.8 |            5.3 |
|  8 | may     |           18   |           11.3 |
|  9 | nov     |           11.8 |           11.8 |
| 10 | oct     |           21.7 |           11.3 |
| 11 | sep     |           30.2 |            9.8 |
+----+---------+----------------+----------------+

# 3.Monthly when highest wind and lowest wind happened.
Output: month,highest_wind, lowest_wind

In [24]:
high_low_wind =df.groupby(["month"]).agg({"wind":["max","min"]}).reset_index()
high_low_wind.columns = ["month","highest_wind"," lowest_wind"]
pretty_print(high_low_wind,12)

+----+---------+----------------+----------------+
|    | month   |   highest_wind |    lowest_wind |
|----+---------+----------------+----------------|
|  0 | apr     |            9.4 |            1.8 |
|  1 | aug     |            8.9 |            0.4 |
|  2 | dec     |            8.5 |            4.9 |
|  3 | feb     |            9.4 |            0.9 |
|  4 | jan     |            3.1 |            0.9 |
|  5 | jul     |            8   |            0.9 |
|  6 | jun     |            9.4 |            1.3 |
|  7 | mar     |            9.4 |            0.9 |
|  8 | may     |            4.9 |            4   |
|  9 | nov     |            4.5 |            4.5 |
| 10 | oct     |            5.4 |            0.9 |
| 11 | sep     |            7.6 |            0.9 |
+----+---------+----------------+----------------+

# 4.Highest and lowest relative humidity for each month.
 Output: month,highest_rh, lowest_rh

In [25]:
high_low_rh =df.groupby(["month"]).agg({"RH":["max","min"]}).reset_index()
high_low_rh.columns = ["month","highest_rh"," lowest_rh"]
pretty_print(high_low_rh,12)

+----+---------+--------------+--------------+
|    | month   |   highest_rh |    lowest_rh |
|----+---------+--------------+--------------|
|  0 | apr     |           75 |           20 |
|  1 | aug     |           96 |           19 |
|  2 | dec     |           61 |           21 |
|  3 | feb     |           82 |           35 |
|  4 | jan     |          100 |           78 |
|  5 | jul     |           90 |           22 |
|  6 | jun     |           90 |           25 |
|  7 | mar     |           99 |           18 |
|  8 | may     |           94 |           40 |
|  9 | nov     |           31 |           31 |
| 10 | oct     |           60 |           24 |
| 11 | sep     |           86 |           15 |
+----+---------+--------------+--------------+

# 5.Join the output from questions 1-4 above.
Output: month,area,highest_temp, lowest_temp,highest_wind, lowest_wind,highest_rh, lowest_rh

In [30]:
output1 = pd.merge(df_10max_burnt,high_low_temp, on = "month", how = "inner")
output2 = pd.merge(high_low_wind,high_low_rh , on = "month", how = "inner")
output = pd.merge(output1,output2, on = "month", how = "inner")
pretty_print(output,12)

+----+---------+---------+----------------+----------------+----------------+----------------+--------------+--------------+
|    | month   |    area |   highest_temp |    lowest_temp |   highest_wind |    lowest_wind |   highest_rh |    lowest_rh |
|----+---------+---------+----------------+----------------+----------------+----------------+--------------+--------------|
|  0 | sep     | 1090.84 |           30.2 |            9.8 |            7.6 |            0.9 |           86 |           15 |
|  1 | aug     |  746.28 |           33.3 |            5.1 |            8.9 |            0.4 |           96 |           19 |
|  2 | jul     |  278.53 |           30.2 |           12.6 |            8   |            0.9 |           90 |           22 |
|  3 | jun     |   70.32 |           28   |           10.6 |            9.4 |            1.3 |           90 |           25 |
|  4 | apr     |   61.13 |           17.6 |            5.8 |            9.4 |            1.8 |           75 |           20 |
|  5 | feb     |   51.78 |           15.7 |            4.2 |            9.4 |            0.9 |           82 |           35 |
|  6 | oct     |   49.37 |           21.7 |           11.3 |            5.4 |            0.9 |           60 |           24 |
|  7 | may     |   38.48 |           18   |           11.3 |            4.9 |            4   |           94 |           40 |
|  8 | mar     |   36.85 |           18.8 |            5.3 |            9.4 |            0.9 |           99 |           18 |
|  9 | dec     |   24.77 |            5.1 |            2.2 |            8.5 |            4.9 |           61 |           21 |
| 10 | jan     |    0    |            5.3 |            5.2 |            3.1 |            0.9 |          100 |           78 |
| 11 | nov     |    0    |           11.8 |           11.8 |            4.5 |            4.5 |           31 |           31 |
+----+---------+---------+----------------+----------------+----------------+----------------+--------------+--------------+

# 6.Plot a group bar chart for the output in question 5.

X-axis -> Month    
Bar 1 -> highest_temp  
Bar 2 -> highest_wind  
Bar 3 -> highest_rh