<a href="https://colab.research.google.com/github/ruthika11/ipython-notebook-examples/blob/master/HR_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Questions:**
Department in this document means the column "sales".

**1**.How many employees in each of the department (use column "sales")      
Output:
sales,num_employees

**2**.Among employees who left, get the department wise (use column "sales"), number of employees and rank them.  
Output:
sales,num_employees,rank

**3**.Average number of years (time_spend_company) and average number of monthly hours (average_monthly_hours) for the employees left and not left under each department. Sort the value by sales.  
Output:
left,sales,avg_time_spend_company,avg_average_monthly_hours

**4**.Under each department, what is the minimum and maximum for both left and not left employees related to time_spend_company and average_monthly_hours. Sort the value by sales.  
Output:
left,sales,min_time_spend_company,max_time_spend_company,min_average_monthly_hours,max_average_monthly_hours

**5**.Under each department, what is the minimum, maximum, average on last evaluation (last_evaluation) and satisfaction level (satisfaction_level) for both left and not left. Sort the value by sales.     
Output:  
left,sales,min_last_evaluation,max_last_evaluation,avg_last_evaluation, min_satisfaction_level, max_satisfaction_level,avg_satisfaction_level

**6**.Under each department, what is the count on work accidents (work_accident) and promotion for the last 5 years (promotion_last_5years) for both left and not left. Sort the value by sales.
Output:
left,sales,count_work_accident,count_promotion_last_5years

**7**.Bring the output from question 3-6 above.

Output:
left,sales,avg_time_spend_company,avg_average_monthly_hours,min_time_spend_company,max_time_spend_company,min_average_monthly_hours, max_average_monthly_hours,min_last_evaluation,max_last_evaluation,avg_last_evaluation,min_satisfaction_level, max_satisfaction_level, avg_satisfaction_level,count_work_accident,count_promotion_last_5years

**8**.Using output from the question 7 above, plot them as a grouped bar chart (similar to this or see group bar chart below) with seaborn. There must be two bars, one bar representing left and another for not left. This plot is for each unique department values in column “sales.”

X-axis => left or not left  
Y-axis => avg_time_spend_company (for each unique department values in column "sales"). This is the average calculated from "time_spend_company"

**9**.For output of 3, plot heat map as shown in the image following with the numbers. One approach is to use seaborn

In [ ]:
import pandas as pd
import csv
from google.colab import drive
drive.mount("/content/drive/")
from tabulate import tabulate

In [ ]:
df = pd.read_csv(r"/content/drive/MyDrive/HR_comma_sep.csv")
print(df.head(5))

In [11]:
def pretty_print(df, n):
   print(tabulate(df.head(n), headers="keys", tablefmt="psql"))

# 1.How many employees in each of the department (use column "sales")
 **Output**: **sales**,**num_employees**

In [16]:
no_of_emp = df.groupby(["sales"]).size().to_frame("num_employees").reset_index()
no_of_emp1 = no_of_emp.sort_values(by = ["num_employees"], ascending = True)
pretty_print(no_of_emp1,10)

+----+-------------+-----------------+
|    | sales       |   num_employees |
|----+-------------+-----------------|
|  4 | management  |             630 |
|  3 | hr          |             739 |
|  2 | accounting  |             767 |
|  1 | RandD       |             787 |
|  5 | marketing   |             858 |
|  6 | product_mng |             902 |
|  0 | IT          |            1227 |
|  8 | support     |            2229 |
|  9 | technical   |            2720 |
|  7 | sales       |            4140 |
+----+-------------+-----------------+

# 2.Among employees who left, get the department wise (use column "sales"), number of employees and rank them.
**Output**: **sales**,**num_employees**,**rank**

In [ ]:
no_of_emp =

# 3.Average number of years (time_spend_company) and average number of monthly hours (average_monthly_hours) for the employees left and not left under each department. Sort the value by sales.
**Output**: **left**,**sales**,**avg_time_spend_company**,**avg_average_monthly_hours**

In [27]:
df_avg_time = df.groupby(["left","sales"])["time_spend_company"].agg(avg_time_spend_company = "mean").reset_index()
df_avg_time1 = df.groupby(["left","sales"])["average_montly_hours"].agg(avg_average_monthly_hours = "mean").reset_index()
df_avg_time_mer = pd.merge(df_avg_time,df_avg_time1, on = ["left","sales"], how = "left")
pretty_print(df_avg_time_mer,25)

+----+--------+-------------+--------------------------+-----------------------------+
|    |   left | sales       |   avg_time_spend_company |   avg_average_monthly_hours |
|----+--------+-------------+--------------------------+-----------------------------|
|  0 |      0 | IT          |                  3.35639 |                     198.887 |
|  1 |      0 | RandD       |                  3.25225 |                     198.952 |
|  2 |      0 | accounting  |                  3.42451 |                     199.037 |
|  3 |      0 | hr          |                  3.19275 |                     199.25  |
|  4 |      0 | management  |                  4.39518 |                     200.234 |
|  5 |      0 | marketing   |                  3.48092 |                     198.889 |
|  6 |      0 | product_mng |                  3.33097 |                     197.766 |
|  7 |      0 | sales       |                  3.4437  |                     199.572 |
|  8 |      0 | support     |                  3.21386 |                     199.141 |
|  9 |      0 | technical   |                  3.22244 |                     198.471 |
| 10 |      1 | IT          |                  3.86081 |                     213.85  |
| 11 |      1 | RandD       |                  4       |                     210.975 |
| 12 |      1 | accounting  |                  3.79412 |                     207.029 |
| 13 |      1 | hr          |                  3.75349 |                     197.307 |
| 14 |      1 | management  |                  3.75824 |                     207.264 |
| 15 |      1 | marketing   |                  3.85714 |                     200.99  |
| 16 |      1 | product_mng |                  3.9899  |                     207.788 |
| 17 |      1 | sales       |                  3.81262 |                     205.041 |
| 18 |      1 | support     |                  3.93333 |                     205.636 |
| 19 |      1 | technical   |                  3.95983 |                     214.184 |
+----+--------+-------------+--------------------------+-----------------------------+

# 4.Under each department, what is the minimum and maximum for both left and not left employees related to time_spend_company and average_monthly_hours. Sort the value by sales.
**Output**: **left**,**sales**,**min_time_spend_company**,**max_time_spend_company**,**min_average_monthly_hours**,**max_average_monthly_hours**