<a href="https://colab.research.google.com/github/ruthika11/ipython-notebook-examples/blob/master/Open_crime_UK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Questions**
**1**.Top 10 Type by # events.   
Output:
type, num_events, rank

**2**.Top 10 Ethnics by # events. Use column “Officer-defined ethnicity”     
Output:
type, office_num_events, office_ethnic_rank

**3**.Top 10 Ethnics by # events. Use column “Self-defined ethnicity”   
Output:
type, self_num_events, self_ethnic_rank

**4**.Merge 2 and 3 above on type.   
Output:
type, office_num_events, office_ethnic_rank, self_num_events, self_ethnic_rank

**5**.Top 10 Type by Gender = Male.   
Output:
type, num_events_men, rank_men

**6**.Top 10 Type by Gender = Female.   
Output:
type, num_events_men, rank_women

**7**.Group bar chart plot (vertical) with output from 5 and 6.   
[1][2]  
Bar 1 -> Male   
Bar 2 -> Female

**8**.For Gender = Male, # events by “Age range”     
Output:
type, age_range_male, num_events_male, rank_male

**9**.For Gender = Female, # events by “Age range”   
Output:
type, age_range_female, num_events_female, rank_female

**10** .  Merge 8 and 9 on column “type”  
Output:
type, age_range_male, num_events_male, rank_male, age_range_female, num_events_female, rank_female

In [ ]:
import csv
import pandas as pd
import numpy as np
from tabulate import tabulate
import seaborn as sns
import datetime
from dateutil import parser
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount("/content/drive/")

In [ ]:
!ls - ltr /content/drive/MyDrive/

In [ ]:
df1 =