<a href="https://colab.research.google.com/github/ruthika11/ipython-notebook-examples/blob/master/Open_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Questions**
**1**.Total # distinct artifactNumber.     
Output: Integer Number

**2**.Total # distinct ObjectName.     
Output: Integer Number

**3**.Top 10 artifacts by weight.     
Output:
w_artifactnumber,weight,generaldescripton,rank_weight

**4**.Top 10 artifacts by height.   
Output:
h_artifactnumber,height,generaldescripton,rank_height

**5**.Top 10 category1 by total # artifacts.    
Output:
category1,num_artifactNumber, rank_category1

**6**.Top 10 BeingDate by # artifactNumber  
Output:
begindate,num_artifactnumber,rank_begindate

**7**.Top 10 material by # artifactNumber   
Output:
material,num_artifactnumber_mat,rank_material

**8**.Merge 3 and 4 on their corresponding rank columns    
Output:
rank, w_artifactnumber,h_artifactnumber, weight, height

**9**.Top 10 group by # artifactNumber      
Output:
group,num_artifactnumber_group,rank_group

**10**.Top 10 subcategory1 by total # artifacts.    
Output:
subcategory1,num_artifactNumber, rank_subcategory1

**11**.Merge 7 and 9 on their corresponding rank columns   
Output:
rank, num_artifactnumber_mat, num_artifactnumber_group

In [2]:
import csv
import pandas as pd
import numpy as np
from tabulate import tabulate
import seaborn as sns
import datetime
from dateutil import parser
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount("/content/drive/")
import glob

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [3]:
!ls - ltr /content/drive/MyDrive/

ls: cannot access '-': No such file or directory
ls: cannot access 'ltr': No such file or directory
/content/drive/MyDrive/:
 2019-07		      HR_comma_sep.csv
 Airport_and_airlines.ipynb   HR_Data.ipynb
 Airports2.csv		      Open_A.ipynb
 airports.dat.txt	      Open_crime_UK.ipynb
 Covid.ipynb		      Powerlifting.ipynb
 cstmc-CSV-en.csv	      practise1.ipynb
 ebola_data_db_format.csv     practise2.ipynb
 Ebola.ipynb		     'Screenshot (1).png'
 example11.xlsx		     'Screenshot 2023-08-31 125835.png'
 Forest_Fire.ipynb	     'Screenshot (3).png'
 forestfires.csv	      us-counties.csv
'hello world.txt'	      us-counties-recent.csv

In [4]:
def pretty_print(df,n):
    print(tabulate(df.head(n), headers="keys", tablefmt = "psql"))

In [5]:
df = pd.read_csv("/content/drive/MyDrive/cstmc-CSV-en.csv", delimiter= "|", on_bad_lines = "skip")
pretty_print(df ,5)

<ipython-input-5-3c84ea873e5b>:1: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/content/drive/MyDrive/cstmc-CSV-en.csv", delimiter= "|", on_bad_lines = "skip")

+----+------------------+----------------+----------------------+------------------------------+----------------+----------------+---------------+----------------+------------+-------------+-----------+------------------+----------+----------------------+---------------------------------------------------+------------------------------------------------------------+-------------------+--------------------+----------+---------------+----------------+----------+-------------+----------------+----------+-------------+----------------+------------+----------+---------+----------+-------------+----------+------------+------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------+
|    | artifactNumber   | ObjectName     | GeneralDescription   | model                        |   SerialNumber | Manufacturer   | ManuCountry   |   ManuProvince |   ManuCity |   BeginDate |   EndDate |   date_qualifier |   patent |   NumberOfComponents | ArtifactFinish                                    | ContextCanada                                              |   ContextFunction |   ContextTechnical | group1   | category1     | subcategory1   |   group2 |   category2 |   subcategory2 |   group3 |   category3 |   subcategory3 | material   | Length   | Width   |   Height |   Thickness |   Weight |   Diameter | image                                                                              | thumbnail                                                                                |
|----+------------------+----------------+----------------------+------------------------------+----------------+----------------+---------------+----------------+------------+-------------+-----------+------------------+----------+----------------------+---------------------------------------------------+------------------------------------------------------------+-------------------+--------------------+----------+---------------+----------------+----------+-------------+----------------+----------+-------------+----------------+------------+----------+---------+----------+-------------+----------+------------+------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------|
|  0 | 1966.0001.001    | Cover          | PAPER                | WESTERN CANADA AIRWAYS LTD.  |            nan | Unknown        | Unknown       |            nan |        nan |        1927 |       nan |              nan |      nan |                    1 | nan                                               | AT THE TIME IT WAS THE WORLD'S MOST NORTHERNLY AIR SERVICE |               nan |                nan | Aviation | Commemorative | Stamps & coins |      nan |         nan |            nan |      nan |         nan |            nan | paper      | 4.5 cm   | 2.6 cm  |      nan |         nan |      nan |        nan | http://source.techno-science.ca/artifacts-artefacts/images/1966.0001.001.aa.cs.png | http://source.techno-science.ca/artifacts-artefacts/images/1966.0001.001.aa.cs.thumb.png |
|  1 | 1966.0002.001    | Stamp, postage | PAPER                | WESTERN CANADA AIRWAYS LTD.  |            nan | Unknown        | Unknown       |            nan |        nan |        1927 |       nan |              nan |      nan |                    1 | PINK & BLACK ON WHITE                             | nan                                                        |               nan |                nan | Aviation | Commemorative | Stamps & coins |      nan |         nan |            nan |      nan |         nan |            nan | paper      | 3.8 cm   | 2.7 cm  |      nan |         nan |      nan |        nan | http://source.techno-science.ca/artifacts-artefacts/images/1966.0002.001.aa.cs.png | http://source.techno-science.ca/artifacts-artefacts/images/1966.0002.001.aa.cs.thumb.png |
|  2 | 1966.0003.001    | Stamp, postage | PAPER                | nan                          |            nan | Unknown        | Unknown       |            nan |        nan |        1932 |       nan |              nan |      nan |                    1 | DARK & PALE BLUE ON WHITE                         | nan                                                        |               nan |                nan | Aviation | Commemorative | Stamps & coins |      nan |         nan |            nan |      nan |         nan |            nan | paper      | 12.8 cm  | 8.4 cm  |      nan |         nan |      nan |        nan | http://source.techno-science.ca/artifacts-artefacts/images/1966.0003.001.aa.cs.png | http://source.techno-science.ca/artifacts-artefacts/images/1966.0003.001.aa.cs.thumb.png |
|  3 | 1966.0004.001    | Stamp, postage | PAPER                | ELLIOT, JACK V. AIR SERVICE  |            nan | Unknown        | Unknown       |            nan |        nan |        1926 |       nan |              nan |      nan |                    1 | RED ON YELLOW WITH SHADED ZIG-ZAG LINE BACKGROUND | nan                                                        |               nan |                nan | Aviation | Commemorative | Stamps & coins |      nan |         nan |            nan |      nan |         nan |            nan | paper      | 22.4 cm  | 9.0 cm  |      nan |         nan |      nan |        nan | http://source.techno-science.ca/artifacts-artefacts/images/1966.0004.001.aa.cs.png | http://source.techno-science.ca/artifacts-artefacts/images/1966.0004.001.aa.cs.thumb.png |
|  4 | 1966.0005.001    | Stamp, postage | PAPER                | ELLIOT-FAIRCHILD AIR SERVICE |            nan | Unknown        | Unknown       |            nan |        nan |        1926 |       nan |              nan |      nan |                    1 | RED ON YELLOW WITH SWASTIKA BACKGROUND            | nan                                                        |               nan |                nan | Aviation | Commemorative | Stamps & coins |      nan |         nan |            nan |      nan |         nan |            nan | paper      | 22.7 cm  | 9.5 cm  |      nan |         nan |      nan |        nan | http://source.techno-science.ca/artifacts-artefacts/images/1966.0005.001.aa.cs.png | http://source.techno-science.ca/artifacts-artefacts/images/1966.0005.001.aa.cs.thumb.png |
+----+------------------+----------------+----------------------+------------------------------+----------------+----------------+---------------+----------------+------------+-------------+-----------+------------------+----------+----------------------+---------------------------------------------------+------------------------------------------------------------+-------------------+--------------------+----------+---------------+----------------+----------+-------------+----------------+----------+-------------+----------------+------------+----------+---------+----------+-------------+----------+------------+------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------+

# 1.Total # distinct artifactNumber.
Output: Integer Number

In [6]:
dis_number = pd.unique(df["artifactNumber"])
dis_number = len(dis_number)
print(f"Total # distinct artifactNumber : \n{dis_number}")

Total # distinct artifactNumber :
107768

# 2.Total # distinct ObjectName.
Output: Integer Number

In [7]:
dis_obj_name = pd.unique(df["ObjectName"])
dis_obj_name = len(dis_obj_name)
print(f"Total # distinct ObjectName : \n{dis_obj_name}")

Total # distinct ObjectName :
8191

# 3.Top 10 artifacts by weight.
Output: w_artifactnumber,weight,generaldescripton,rank_weight

In [8]:
top_10_weight = df.groupby(["artifactNumber","GeneralDescription"])["Weight"].size().reset_index()
top_10_weight = top_10_weight.sort_values(by = "Weight", ascending = False)
top_10_weight["rank"] = top_10_weight["Weight"].rank(ascending = False)
top_10_weight.columns = ["w_artifactnumber","generaldescripton","weight","rank"]
pretty_print(top_10_weight,10)

+-------+--------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+---------+
|       | w_artifactnumber   | generaldescripton                                                                                                                                                                                                                             |   weight |    rank |
|-------+--------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+---------|
| 21091 | 1984.0960.002      | GLASS                                                                                                                                                                                                                                         |        2 |     2.5 |
| 23257 | 1986.0245.001      | Metal                                                                                                                                                                                                                                         |        2 |     2.5 |
|   219 | 1966.0213.002      | SYNTHETIC                                                                                                                                                                                                                                     |        2 |     2.5 |
| 63185 | 2008.0178.006      | Wood table with metal hardware/ Plywood shelf attached by metal brackets to one end/ Wood shelf on metal stand mounted on table top/ Metal casings for power bar and box/ Metal wiring and parts/ Synthetic switch, cable coverings and parts |        2 |     2.5 |
|     0 | 1966.0001.001      | PAPER                                                                                                                                                                                                                                         |        1 | 35964.5 |
| 47950 | 1998.1040.002      | paper                                                                                                                                                                                                                                         |        1 | 35964.5 |
| 47955 | 1998.1042.003      | paper                                                                                                                                                                                                                                         |        1 | 35964.5 |
| 47954 | 1998.1042.002      | silver metal                                                                                                                                                                                                                                  |        1 | 35964.5 |
| 47953 | 1998.1042.001      | silver metal                                                                                                                                                                                                                                  |        1 | 35964.5 |
| 47952 | 1998.1041.002      | coated paper                                                                                                                                                                                                                                  |        1 | 35964.5 |
+-------+--------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+---------+

# 4.Top 10 artifacts by height.
Output: h_artifactnumber,height,generaldescripton,rank_height

In [9]:
top_10_height = df.groupby(["artifactNumber","GeneralDescription"])["Height"].size().reset_index()
top_10_height = top_10_height.sort_values(by = "Height", ascending = False)
top_10_height["rank"] = top_10_height["Height"].rank(ascending = False)
top_10_height.columns = ["h_artifactnumber","generaldescripton","height","rank"]
pretty_print(top_10_height,10)

+-------+--------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+---------+
|       | h_artifactnumber   | generaldescripton                                                                                                                                                                                                                             |   height |    rank |
|-------+--------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+---------|
| 21091 | 1984.0960.002      | GLASS                                                                                                                                                                                                                                         |        2 |     2.5 |
| 23257 | 1986.0245.001      | Metal                                                                                                                                                                                                                                         |        2 |     2.5 |
|   219 | 1966.0213.002      | SYNTHETIC                                                                                                                                                                                                                                     |        2 |     2.5 |
| 63185 | 2008.0178.006      | Wood table with metal hardware/ Plywood shelf attached by metal brackets to one end/ Wood shelf on metal stand mounted on table top/ Metal casings for power bar and box/ Metal wiring and parts/ Synthetic switch, cable coverings and parts |        2 |     2.5 |
|     0 | 1966.0001.001      | PAPER                                                                                                                                                                                                                                         |        1 | 35964.5 |
| 47950 | 1998.1040.002      | paper                                                                                                                                                                                                                                         |        1 | 35964.5 |
| 47955 | 1998.1042.003      | paper                                                                                                                                                                                                                                         |        1 | 35964.5 |
| 47954 | 1998.1042.002      | silver metal                                                                                                                                                                                                                                  |        1 | 35964.5 |
| 47953 | 1998.1042.001      | silver metal                                                                                                                                                                                                                                  |        1 | 35964.5 |
| 47952 | 1998.1041.002      | coated paper                                                                                                                                                                                                                                  |        1 | 35964.5 |
+-------+--------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+---------+

# 5.Top 10 category1 by total # artifacts.
Output: category1,num_artifactNumber, rank_category1

In [10]:
top_10_cat = df.groupby("category1")["artifactNumber"].size().to_frame("num_artifactNumber").reset_index()
top_10_cat = top_10_cat.sort_values(by = "num_artifactNumber", ascending = False)
top_10_cat["rank_category1"] = top_10_cat["num_artifactNumber"].rank(ascending = False)
pretty_print(top_10_cat,10)

+-----+--------------------------+----------------------+------------------+
|     | category1                |   num_artifactNumber |   rank_category1 |
|-----+--------------------------+----------------------+------------------|
| 191 | Printed specimens        |                 4270 |                1 |
|  50 | Commemorative            |                 4167 |                2 |
|  15 | Archives                 |                 3026 |                3 |
| 243 | Tools & equipment-trades |                 2730 |                4 |
| 156 | Miscellaneous            |                 2589 |                5 |
|  46 | Clothing                 |                 2008 |                6 |
| 195 | Radio                    |                 1791 |                7 |
|  61 | Cycles & cycling         |                 1440 |                8 |
| 116 | Instruments              |                 1370 |                9 |
|  95 | Food processing          |                 1327 |               10 |
+-----+--------------------------+----------------------+------------------+

# 6.Top 10 BeingDate by # artifactNumber
Output: begindate,num_artifactnumber,rank_begindate

In [11]:
begindate = df.groupby("BeginDate")["artifactNumber"].size().to_frame("num_artifactnumber").reset_index()
begindate = begindate.sort_values(by = "num_artifactnumber", ascending = False)
begindate["rank_begindate"] = begindate["num_artifactnumber"].rank(ascending = False)
pretty_print(begindate,10)

+-----+-------------+----------------------+------------------+
|     |   BeginDate |   num_artifactnumber |   rank_begindate |
|-----+-------------+----------------------+------------------|
| 113 |        1900 |                 2609 |                1 |
| 163 |        1950 |                 1477 |                2 |
| 133 |        1920 |                 1214 |                3 |
| 143 |        1930 |                 1176 |                4 |
| 153 |        1940 |                 1026 |                5 |
| 173 |        1960 |                  904 |                6 |
| 183 |        1970 |                  883 |                7 |
| 123 |        1910 |                  600 |                8 |
| 193 |        1980 |                  549 |                9 |
| 157 |        1944 |                  548 |               10 |
+-----+-------------+----------------------+------------------+

# 7.Top 10 material by # artifactNumber
Output: material,num_artifactnumber_mat,rank_material

In [12]:
top_10_mat = df.groupby("material")["artifactNumber"].size().to_frame("num_artifactnumber_mat").reset_index()
top_10_mat = top_10_mat.sort_values(by = "num_artifactnumber_mat", ascending = False)
top_10_mat["rank"] = top_10_mat["num_artifactnumber_mat"].rank(ascending = False)
pretty_print(top_10_mat,10)

+------+-------------------+--------------------------+--------+
|      | material          |   num_artifactnumber_mat |   rank |
|------+-------------------+--------------------------+--------|
| 6082 | paper             |                     9394 |      1 |
| 1497 | metal             |                     7421 |      2 |
|  843 | glass             |                     2044 |      3 |
| 5997 | metal;synthetic   |                     2027 |      4 |
| 7171 | synthetic         |                     1663 |      5 |
| 5047 | metal->steel      |                     1523 |      6 |
| 8223 | synthetic;metal   |                     1386 |      7 |
| 6292 | paper->card stock |                     1353 |      8 |
| 3153 | metal->brass      |                     1212 |      9 |
| 9922 | wood;metal        |                     1175 |     10 |
+------+-------------------+--------------------------+--------+

# 8.Merge 3 and 4 on their corresponding rank columns
Output: rank, w_artifactnumber,h_artifactnumber, weight, height

In [ ]:
merge_hei_wei = pd.merge(top_10_weight,top_10_height, on = "rank" , how = "inner")
pretty_print(merge_hei_wei,10)

# 9.Top 10 group by # artifactNumber
Output: group,num_artifactnumber_group,rank_group

In [13]:
top_10_group = df.groupby("group1")["artifactNumber"].size().to_frame("num_artifactnumber_group").reset_index()
top_10_group = top_10_group.sort_values(by = "num_artifactnumber_group", ascending = False)
top_10_group["rank"] = top_10_group["num_artifactnumber_group"].rank(ascending = False)
pretty_print(top_10_group,10)

+----+-----------------------+----------------------------+--------+
|    | group1                |   num_artifactnumber_group |   rank |
|----+-----------------------+----------------------------+--------|
|  3 | Aviation              |                      12360 |      1 |
|  6 | Communications        |                       6579 |      2 |
| 27 | Printing              |                       6290 |      3 |
| 15 | Industrial Technology |                       5616 |      4 |
| 25 | Photography           |                       5067 |      5 |
| 19 | Medical Technology    |                       4445 |      6 |
|  1 | Agriculture           |                       3595 |      7 |
|  8 | Domestic Technology   |                       2816 |      8 |
| 26 | Physics               |                       2636 |      9 |
| 30 | Vacuum Tubes          |                       2084 |     10 |
+----+-----------------------+----------------------------+--------+

# 10.Top 10 subcategory1 by total # artifacts.
Output: subcategory1,num_artifactNumber, rank_subcategory1

In [14]:
top_10_sub = df.groupby("subcategory1")["artifactNumber"].size().to_frame("num_artifactNumber").reset_index()
top_10_sub = top_10_sub.sort_values(by = "num_artifactNumber", ascending = False)
top_10_sub["rank_subcategory1"] = top_10_sub["num_artifactNumber"].rank(ascending = False)
pretty_print(top_10_sub,10)

+-----+--------------------------+----------------------+---------------------+
|     | subcategory1             |   num_artifactNumber |   rank_subcategory1 |
|-----+--------------------------+----------------------+---------------------|
| 274 | Memorabilia              |                 2470 |                   1 |
| 283 | Miscellaneous            |                 1876 |                   2 |
|  30 | Art                      |                 1324 |                   3 |
| 399 | Receivers & transmitters |                 1248 |                   4 |
| 513 | Tools                    |                 1169 |                   5 |
| 192 | Harness & saddle maker   |                 1091 |                   6 |
|   6 | Accessories              |                 1081 |                   7 |
| 329 | Passenger                |                 1015 |                   8 |
| 158 | Food preparation         |                 1003 |                   9 |
| 483 | Surgical                 |                  962 |                  10 |
+-----+--------------------------+----------------------+---------------------+

# 11.Merge 7 and 9 on their corresponding rank columns
Output: rank, num_artifactnumber_mat, num_artifactnumber_group

In [15]:
merge_mat_group = pd.merge(top_10_mat,top_10_group, on = "rank" , how = "inner")
pretty_print(merge_mat_group,10)

+----+-------------------+--------------------------+--------+-----------------------+----------------------------+
|    | material          |   num_artifactnumber_mat |   rank | group1                |   num_artifactnumber_group |
|----+-------------------+--------------------------+--------+-----------------------+----------------------------|
|  0 | paper             |                     9394 |      1 | Aviation              |                      12360 |
|  1 | metal             |                     7421 |      2 | Communications        |                       6579 |
|  2 | glass             |                     2044 |      3 | Printing              |                       6290 |
|  3 | metal;synthetic   |                     2027 |      4 | Industrial Technology |                       5616 |
|  4 | synthetic         |                     1663 |      5 | Photography           |                       5067 |
|  5 | metal->steel      |                     1523 |      6 | Medical Technology    |                       4445 |
|  6 | synthetic;metal   |                     1386 |      7 | Agriculture           |                       3595 |
|  7 | paper->card stock |                     1353 |      8 | Domestic Technology   |                       2816 |
|  8 | metal->brass      |                     1212 |      9 | Physics               |                       2636 |
|  9 | wood;metal        |                     1175 |     10 | Vacuum Tubes          |                       2084 |
+----+-------------------+--------------------------+--------+-----------------------+----------------------------+