<a href="https://colab.research.google.com/github/ruthika11/ipython-notebook-examples/blob/master/practise2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lst = [(x+5)*2 for x in range(2,10,2)]
print(lst)
lst.insert(2,100)
print(lst)

In [ ]:
def fun(x,y):
   return x+y
fun(5,4)

In [ ]:
import csv
with open("c:\pyprg\book1.csv",'r') as f:
  reader = csv.reader(f)

In [ ]:
def fun1(name,age):
  print("Name: ",name,"\nAge :",age)
name = input("what is your name: ")
age = int(input("Enter your age: "))
fun1(name,age)

In [ ]:
class colors:
  x = "blue"
  y = "pink"
z = colors()  
print(z.x,z.y)

In [ ]:
f = open("hello world.txt")
x = f.read()
print(x)

In [ ]:
name = "     roshini    "
txt = "***%%^&#%^%hello"
print(name)
x = name.strip()
print("My name is ",x)
x = txt.strip("*%^&#")
print(x)

In [2]:
import pandas as pd
lst = [[1,2,3,4,5],[1,2,3,4,5]]
dic = {"name":["Ruthika","Kala","Roshini"],"age":[17,45,21],"mass":[52,60,48]}
df = pd.DataFrame(lst)
df1 = pd.DataFrame(data = dic, index = [1,2,3])
print(df,"\n")
print(df1)

   0  1  2  3  4
0  1  2  3  4  5
1  1  2  3  4  5

      name  age  mass
1  Ruthika   17    52
2     Kala   45    60
3  Roshini   21    48

In [ ]:
# f-strings 
txt = "ruthika"
print(f"my name is {txt} {5+6}. ")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
data = pd.read_excel(r'/content/drive/My Drive/example11/example11.xlsx')
display(pd.dataframe(data))

In [32]:
marks = {"Tamil":[99,75,99],"English":[88,81,86],"biology":[97,80,50],"Chemistry":[65,70,66],"Physics":[57,100,99],"Math":[87,89,54]}
df = pd.DataFrame(marks,index =['Ruthika','Roshini','Kala'])
print(df,"\n")
A = df["English"].rank(ascending = False)
print(A)

         Tamil  English  biology  Chemistry  Physics  Math
Ruthika     99       88       97         65       57    87
Roshini     75       81       80         70      100    89
Kala        99       86       50         66       99    54

Ruthika    1.0
Roshini    3.0
Kala       2.0
Name: English, dtype: float64